* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(231, 231, 231);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 175, 175);
  padding: 20px;
  color: rgb(33, 33, 34);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header img {
  width: 150px;
  border-radius: 10px;
}


.clubs {
  padding: 40px;
}


@media (max-width: 768px) {
 
  header {
    flex-direction: column;
    text-align: center;
  }
  
  
  header img {
    width: 100px;
    margin-bottom: 10px;
  }
  

  .clubs {
    padding: 20px;
  }
}

@media (max-width: 480px) {
 
  header img {
    width: 80px;
  }
  
  header {
    padding: 10px;
  }
  
  .clubs {
    padding: 10px;
  }
}